@mixin lineTrim {
    $limits: (
        1,
        2,
        3,
        4,
        5,
        6
    );

// -----
@each $limit in $limits {

    .lineTrim-#{$limit} {
        overflow: hidden;
        display: -webkit-box;

    }
}

// ".lineTrim-3"
}