// Define main color variable
$main-color: #071a3b;

// Define secondary color variable
$secondary-color: #d22630;

// You can also define more variables
$background-color: #0c2142;
$text-color: #333;